@using Microsoft.AspNetCore.Http;
@model CalculatorViewModel
@{
    ViewData["Title"] = "Result";
}


<h1>Result</h1>

<p>Your result is @ViewData["Num1"] @ViewData["Operation"] @ViewData["Num2"] = @ViewData["Result"]</p>


